Body {background-color: darksalmon;
font-size: large;}
p{margin-left:1em;
	color:white;
	font-size: large;
}
p:first-letter{font-size: 300%; color: khaki;}
h1,h2{margin-left: 0.5em;
	font-family:fantasy;
color:khaki;}
	pre{color: red;}
	img {
	max-width: 100%;
	}

	@media screen and (min-width: 481px) {
		#header{background-color:lavender;}
	#links {
	float: left;
	width: 22.5%;
	margin: 0 0 0 2.5%;
		}
	#main {
	float: left;
	width: 70%;
	margin: 0 2.5%;
		background-color:indianred;
	}

	#footer {
	clear: left;
	color:deeppink;
		}
	}
		a.smooth {
	display: block;
	text-decoration:none;
	text-align: center;
	padding: 0.5em 1em;
	width: 8em;
	border-radius: 1.2em;
	color:darkmagenta;
	background-color:bisque;
	transition-property: background-color;
	transition-duration: 0.3s;
	}
	a.smooth:hover, a.smooth:focus {
	background-color:deepskyblue;
	}
